version: '3'
services:
  nginx:
    image: nginx:latest
    container_name: nginx
    ports:
      - 8080:80
    volumes:
      - ./docker/nginx/nginx.conf:/etc/nginx/conf.d/default.conf
      - ./server:/var/www/html
    depends_on:
      - php

  php:
    container_name: php
    build: ./docker/php
    volumes:
      - ./server:/var/www/html
    depends_on:
      - db

  db:
    image: mysql:5.7
    container_name: db
    ports:
      - 3306:3306
    volumes:
      - ./docker/mysql/data:/docker-entrypoint-initdb.d
    environment:
      - MYSQL_ROOT_PASSWORD=root